[submodule "value-factors"]
	path = value-factors
	url = https://github.com/wifor-impactanalysis/WifOR-Value-Factors.git
[submodule "stockholm-value-factors"]
	path = stockholm-value-factors
	url = https://github.com/d1mitrij/Stockholm_ValueFactors.git
[submodule "uba-value-factors"]
	path = uba-value-factors
	url = https://github.com/d1mitrij/UBA_ValueFactors.git
	branch = dima
[submodule "uk-value-factors"]
	path = uk-value-factors
	url = https://github.com/d1mitrij/greenbook_vf.git
	branch = dima
[submodule "cedelft-value-factors"]
	path = cedelft-value-factors
	url = https://github.com/d1mitrij/cedelft_vf.git
	branch = dima
[submodule "valuingimpact-value-factors"]
	path = valuingimpact-value-factors
	url = https://github.com/d1mitrij/ValuingImpact_vf.git
	branch = dima
[submodule "aware-cf-calculator"]
	path = aware-cf-calculator
	url = https://github.com/PascalLesage/aware_cf_calculator.git
